@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

  * { outline: 1px solid red; } 

/*
sm: – ab 640px (Smartphones)
md: – ab 768px (Tablets)
lg: – ab 1024px (kleine Desktops)
xl: – ab 1280px (große Desktops)
2xl: – ab 1536px (sehr große Bildschirme)
*/

@media (min-width: 768px) {
  .desktop-frame {
    border: 50px solid transparent;
    border-image-source: url("/wooden-frame.png");
    border-image-slice: 80;
    border-image-repeat: stretch;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.35);
  }
}

/* In deiner CSS Datei */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* LoginClient.tsx */
/* animate signal */
.animate-signal {
  animation: signal 4s infinite linear;
}

@keyframes signal {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

.bg-linear-to-r {
  background: linear-gradient(to right, #374151, #6B7280, transparent);
}

.bird {
  background-image: url(/bird.svg);
  background-size: auto 100%;
  width: 367px;
  height: 510px;
  animation: fly-cycle 1s steps(10) infinite;
   transform: scale(0.1);
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;		
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;    
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one {
    animation-duration: 25s;
    animation-delay: 0;
}

.bird-container--two {
    animation-duration: 26s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 24.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    animation-duration: 26s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% { background-position: -3670px 0; } /* 10 Frames à 367px = 3670px */
}

@keyframes fly-right-one {
	0% { transform: scale(0.3) translateX(-10vw); }
	10% { transform: translateY(2vh) translateX(10vw) scale(0.4); }
	20% { transform: translateY(0vh) translateX(30vw) scale(0.5); }
	30% { transform: translateY(4vh) translateX(50vw) scale(0.6); }
	40% { transform: translateY(2vh) translateX(70vw) scale(0.6); }
	50% { transform: translateY(0vh) translateX(90vw) scale(0.6); }
	60% { transform: translateY(0vh) translateX(110vw) scale(0.6); }
	100% { transform: translateY(0vh) translateX(110vw) scale(0.6); }
}

@keyframes fly-right-two {
	0% { transform: translateY(-2vh) translateX(-10vw) scale(0.5); }
	10% { transform: translateY(0vh) translateX(10vw) scale(0.4); }
	20% { transform: translateY(-4vh) translateX(30vw) scale(0.6); }
	30% { transform: translateY(1vh) translateX(50vw) scale(0.45); }
	40% { transform: translateY(-2.5vh) translateX(70vw) scale(0.5); }
	50% { transform: translateY(0vh) translateX(90vw) scale(0.45); }
	51% { transform: translateY(0vh) translateX(110vw) scale(0.45); }
	100% { transform: translateY(0vh) translateX(110vw) scale(0.45); }
}
